In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("DataCertificates 1.csv")

In [3]:
df

,_id,userId,certificateName,organization,isApproved,approvedBy,certificateFile
0,661238cfc478ba97b06a7bfd,6612382ec478ba97b06a6c5d,Quonkle,Washington-Simpson,True,Casey Norton,believe.webm
1,661238cfc478ba97b06a7bfe,6612382ec478ba97b06a6c5d,Snizzle,"Huff, Jones and Vasquez",True,Jessica Turner,worker.mov
2,661238cfc478ba97b06a7bff,6612382ec478ba97b06a6c5d,Zibble,Goodman Ltd,True,Robert Riley,often.numbers
3,661238cfc478ba97b06a7c00,6612382ec478ba97b06a6c5e,Quiffleflap,Lynn LLC,True,Mike Logan,part.flac
4,661238cfc478ba97b06a7c01,6612382ec478ba97b06a6c5e,Doodlewump,Hawkins-Gonzalez,True,Lisa Hart,local.numbers
...,...,...,...,...,...,...,...
2995,6612390dc478ba97b06a87b0,6612386ac478ba97b06a7043,Quonklet,Brooks-Gilmore,True,Jennifer Frazier,third.ods
2996,6612390dc478ba97b06a87b1,6612386ac478ba97b06a7043,Blibber,Caldwell-Dixon,True,Barbara Harper,impact.avi
2997,6612390dc478ba97b06a87b2,6612386ac478ba97b06a7044,Snizzleblat,Grimes-Morgan,True,Cody Davis,reveal.mp3
2998,6612390dc478ba97b06a87b3,6612386ac478ba97b06a7044,Blimble,"Nunez, Walsh and Russell",True,Robert Drake,suffer.csv
2999,6612390dc478ba97b06a87b4,6612386ac478ba97b06a7044,Quackle,"Davis, Burgess and Grant",True,Terry Rodriguez,prepare.mov

In [4]:
columns_to_drop = ['_id' , 'organization' , 'isApproved' , 'approvedBy' , 'certificateFile']

In [5]:
df = df.drop(columns=columns_to_drop, axis=1)

In [6]:
df

                        userId certificateName
0     6612382ec478ba97b06a6c5d         Quonkle
1     6612382ec478ba97b06a6c5d         Snizzle
2     6612382ec478ba97b06a6c5d          Zibble
3     6612382ec478ba97b06a6c5e     Quiffleflap
4     6612382ec478ba97b06a6c5e      Doodlewump
...                        ...             ...
2995  6612386ac478ba97b06a7043        Quonklet
2996  6612386ac478ba97b06a7043         Blibber
2997  6612386ac478ba97b06a7044     Snizzleblat
2998  6612386ac478ba97b06a7044         Blimble
2999  6612386ac478ba97b06a7044         Quackle

[3000 rows x 2 columns]

In [7]:
df.to_csv('updatedCertificates.csv')